:root {
  --link-hover: #19d8bf;
  --transition-delay: 1.5s;
}
/*
  User-defined Elements
*/

.dark-bg {
  background-color: #1a1a1a;
  color: #fff;
}
.back-link {
  font-size: 28px;
  text-align: left;
}
.left-txt {
  text-align: left;
}
.center-txt {
  text-align: center;
}
.right-txt {
  text-align: right;
}

.min-txt {
  font-size: 18px;
}
.medium-txt {
  font-size: 28px;
}
.large-txt {
  font-size: 26px;
}
.giant-txt {
  font-size: 45px;
}
.in-txt {
  font-size: inherit;
}

.d-block { /*Display as block*/
  display: block;
}
.d-none { /*Don't display*/
  display: none;
}


/* The alert message box */
.alert-box {
  padding: 20px;
  background-color: #cf2a1edc; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

/*
  DOM Elements
*/
html {
  font-size: 18px;
}
header {
  font-size: 34px;
  text-align: center;
}
a {
  color: #fff;
  text-decoration: none;
  font-style: oblique;
  transition: var(--transition-delay);
}
a:hover {
  color: var(--link-hover);
}
button {
  color: #fff;
  background-color: #1a1a1a;
  border-color: #19d8bf;
  border-width: 1px;
  transition: var(--transition-delay);
  font-size: inherit;
}
button:hover {
  box-shadow: 2px 2px 8px 5px #19d8bf;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: fit-content;
  text-align: center;
  user-select: none;
}
h1, h2, h3, h4, h5, h6, header {
  user-select: none;
}
input {
  background-color: #1a1a1a;
  color: #fff;
  border-color: #19d8bf;
  border-width: 1px;
  font-size: inherit;
  padding: 20px;
}
input:focus {
  border-color: #19d8bf;
  border-width: 2px;
}
input[type="submit" i] {
  color: #fff;
  background-color: #1a1a1a;
  border-color: #19d8bf;
  border-width: 1px;
  transition: var(--transition-delay);
}

/*
  Floating Spaces
*/
.warp {
  position: relative;
  margin: 5px;
}
.float-left {
  float: left;
  max-width: 40%;
}
.float-right {
  float: right;
  max-width: 40%;
}