
header {
  text-align: center;
  user-select: none;
}

footer {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  min-height: 6%;
  background-color: #000;
}

img {
  width: 35%;
  height: 35%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 4px 4px 8px #fff;
  text-align: inherit;
}

a {
  color: rgb(253, 119, 30);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*

  User-defined classes

*/

.dark-bg {
  background-color: #191919;
}

.black-bg {
  background-color: #000;
}

.white-bg {
  background-color: #fff;
}

.white-txt {
  color: #fff;
}

.black-txt {
  color: #000;
}

.center-txt {
  text-align: center;
}

.left-txt {
  text-align: left;
}

.right-txt {
  text-align: right;
}

.no-select {
  user-select: none;
}

.yes-select {
  user-select: auto;
}

.title { /* TODO: Write responsive behaviour of hover */
  font-size: 46px;
}

.problematic {
  font-size: 23px;
  text-decoration: underline;
  color: rgb(230, 38, 38);
}